.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 15rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.card-img-top {
  width: 100%;
  height: auto; 
}

.card-body {
  position: relative;
  z-index: 1; 
}

.card-body h5,
.card-body p,
.card-body a {
  z-index: 1; 
}
.btn-primary{
  background-color: rgb(83, 36, 36)
}
.btn-primary:hover{
  background-color: rgb(83, 36, 36);
}