/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #503e45, #d4aaa0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    display: inline-block; 
  }
  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    background: linear-gradient(to right, #503e45, #d4aaa0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .navbar-search input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #dddddd;
  }
  
  .navbar-login a {
    text-decoration: none;
    background: linear-gradient(to right, #503e45, #d4aaa0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    font-size:25px;
  }
  
  .navbar-login a:hover {
    background: linear-gradient(to right, #503e45, #d4aaa0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Responsive for mobile devices */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .navbar-links li {
      margin: 5px 0;
    }
  
    .navbar-search {
      margin-top: 10px;
    }
  
    .navbar-login {
      margin-top: 10px;
    }
  }
  